/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

:root {
    --primary-color: #1d2327;
    --secondary-color: #fff;
    --tertiary-color: #dcdcde;
    --primary-text-color: #1d2327;
    --secondary-text-color: #8c8f94;

}

.ars_container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.ars_container,
.ars_container h1,
.ars_container h2,
.ars_container h3,
.ars_container h4,
.ars_container h5,
.ars_container h6,
.ars_container p,
.ars_container a,
.ars_container span,
.ars_container strong,
.ars_container i {
    color: var(--primary-text-color);
}

.ars_container span.dashicons {
    color: var(--primary-color);
}

.ars_container input[type="text"],
.ars_container input[type="email"],
.ars_container input[type="password"],
.ars_container textarea,
.ars_container select,
.ars_container select:focus {
    color: var(--secondary-text-color);
}

.ars_container input[type="text"]::placeholder,
.ars_container input[type="email"]::placeholder,
.ars_container input[type="password"]::placeholder,
.ars_container textarea::placeholder {
    color: var(--secondary-text-color);
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .ars_container {
        max-width: 100%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .ars_container {
        max-width: 540px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .ars_container {
        max-width: 720px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .ars_container {
        max-width: 960px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .ars_container {
        max-width: 1140px;
    }
}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .ars_container {
        max-width: 1320px;
    }
}

#ars_order_form input,
.ars_search_wrapper input,
#ars_order_form textarea,
#ars_order_form select,
#ars_order_form label,
#ars_order_form input[type="checkbox"],
#ars_order_form input[type="radio"] {
    outline: none !important;
    box-shadow: none !important;
}

#ars_order_form input:focus,
.ars_search_wrapper input:focus,
#ars_order_form textarea:focus,
#ars_order_form select:focus,
#ars_order_form input[type="checkbox"]:focus,
#ars_order_form input[type="radio"]:focus {
    outline: none !important;
    box-shadow: none !important;
}

.ars_order_form {
    max-width: 800px;
    position: relative;
    padding: 20px;
}

.ars_form_block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

.ars_form_button_block {
    justify-content: flex-start;
    margin-top: 20px;
}

.ars_form_button_block .button-secondary {
    margin-right: 20px;
}

.ars_form_block:first-child {
    margin-top: 0;
}

.ars_form_group {
    width: calc(50% - 20px);
}

.ars_form_checkboxes_group {
    display: flex;
    flex-direction: column;
}

.ars_form_checkboxes_group .ars_form_group {
    width: 100%;
}

.ars_form_checkboxes_block + .ars_form_group {
    margin-top: auto;
}

.ars_form_group_heading {
    width: 100%;
    margin: 10px 0;
}

.ars_form_group label,
.ars_form_group select,
.ars_form_group textarea,
.ars_form_group:not(.ars_form_checkboxes_group) input {
    width: 100%;
    min-width: 100%;
    display: block;
}

.ars_form_group select,
.ars_form_group textarea,
.ars_form_block textarea,
.ars_form_group:not(.ars_form_checkboxes_group) input,
.ars_search_wrapper input {
    border-radius: 0;
    border: 1px solid var(--primary-color);
}

#ars_order_form .ars_form_group:not(.ars_form_checkboxes_group) input:focus,
.ars_search_wrapper input:focus,
#ars_order_form textarea:focus,
#ars_order_form select:focus {
    box-shadow: 0 0 0 1px var(--primary-color) !important;
    border: 1px solid var(--primary-color);
}

.ars_form_group label {
    padding-left: 5px;
    font-size: 11px;
    font-weight: 600;
}

/*checkboxes style*/
.ars_form_checkboxes_block input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    min-width: 18px;
    min-height: 18px;
    border: 1px solid var(--primary-color);
    border-radius: 0;
    margin-right: 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
}

.ars_form_checkboxes_block input[type="checkbox"]:hover {
    opacity: 0.7;
}

.ars_form_checkboxes_block input[type="checkbox"]:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.ars_form_checkboxes_block input[type="checkbox"]:checked::before {
    content: '\2713';
    font-size: 16px;
    line-height: 1;
    color: var(--secondary-color);
    position: absolute;
    left: 2px;
    bottom: -4px;
}

/*checkboxes style end*/

.ars_form_group label input {
    margin-top: 1px;
    margin-right: 8px;
}

.ars_form_checkboxes_block {
    column-count: 2;
    margin-bottom: 10px;
}

.ars_form_checkboxes_block label {
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 5px 0;
    cursor: pointer;
    line-height: 1;
    break-inside: avoid;
}

.ars_form_checkboxes_block label:focus-visible {
    outline: none;
}

.ars_form_block #comment {
    width: 100%;
}

.ars_form_block .ars_comment {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 0 0 transparent;
    border: 1px solid var(--primary-color);
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

.ars_form_block .ars_comment p {
    margin: 0;
    padding-right: 10px;
}

.ars_form_block .ars_comment i {
    white-space: nowrap;
    font-size: 9px;
}

#ars_orders_list {
    margin-top: 20px;
}

.ars_manage_orders {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ars_search_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.ars_search_wrapper span {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}

.ars_search_wrapper input {
    padding-right: 30px;
}

.ars_popup_delete_confirmation {
    display: none;
    /*display: flex;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.ars_popup_content_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ars_popup_content {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
}

.ars_popup_buttons {
    margin-top: 20px;
}

.ars_popup_buttons button:first-child {
    margin-right: 10px;
}

.ars_table_wrapper {
    max-width: 100%;
    overflow-x: scroll;
}

.ars_manage_orders .button-primary,
.wp-core-ui #ars_order_form .button-primary,
.wp-core-ui #ars_order_form .button-secondary {
    padding: 0 40px 3px;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    min-height: 40px;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.ars_manage_orders .button-primary:hover,
.wp-core-ui #ars_order_form .button-primary:hover,
.wp-core-ui #ars_order_form .button-secondary:hover {
    background: var(--primary-color);
    border-color: var(--primary-color);
    opacity: 0.7;
}

.ars_manage_orders .button-primary,
.wp-core-ui #ars_order_form .button-primary {
    background: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--secondary-color);
}

.wp-core-ui #ars_order_form .button-secondary {
    color: var(--primary-color);
    border-color: var(--primary-color);
    background: var(--secondary-color);
}

.ars_container table.widefat {
    border: 1px solid var(--primary-color);
}

.ars_container .widefat thead th {
    border-bottom: 1px solid var(--primary-color);
}

.ars_container .widefat thead {
    background: var(--primary-color);
}

.ars_container .widefat thead th {
    color: var(--secondary-color);
    font-weight: 600;
    line-height: 1;
    padding: 14px 10px;
}

/*loader*/
.ars_loader_wrapper {
    /*display: flex;*/
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
}

.ars_loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--primary-color);
    --_m: conic-gradient(#0000 10%, #000),
    linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: ars_l3 1s infinite linear;
}

@keyframes ars_l3 {
    to {
        transform: rotate(1turn)
    }
}

@media (max-width: 782px) {
    .ars_form_group {
        width: 100%;
        margin-top: 10px;
    }

    .ars_form_block {
        margin-top: 0;
    }

    .ars_form_button_block {
        margin-top: 20px;
    }

    .ars_form_block .ars_comment {
        margin-top: 10px;
    }

}